*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
canvas{
    position: relative;
}
.base{
    position: absolute;
   
}
.secondary{
    background-color: rgb(180, 9, 9);
    border-radius: 40px;
    width: 70vh;
    height: 40vh;
    
}
@media only screen and (max-width: 100px) {
    .secondary {
      background-color: lightblue;
    }
  }
  